.o_my_status_table {
    th,td {
        text-align: right;
    }
    th:nth-last-child(2) {
        width: 150px;
    }
    th:nth-last-child(1), {
        width: 120px;
    }
    th:nth-child(1),
    td:nth-child(1) {
        width: auto;
        min-width: 150px;
        text-align: left;
    }
    table-layout: fixed;

    @media (max-width: @screen-xs-max) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}

.o_my_home_content > .page-header > a:hover {
    text-decoration: none;
}

.campaigns_rows.row.col-md-8 {
    margin: 2%;
    }

    .first_row {
    border-bottom: 2px solid black;
}

div.campaigns_rows.row a{
       color:#333;
    font-size: 16px;
    font-family: Lato, sans-serif;
}

section.gift_rows .row a{
    color:#333;  
    font-size: 16px;
    font-family: Lato, sans-serif;
}

.col-sm-5.col-sm-6.col-xs-5 a {
    color:#333;  
    font-size: 16px;
    font-family: Lato, sans-serif;
  }

.campaigns_rows.row {
    padding-bottom: 1%;
    padding-top: 1.5%;
}


.offers_table {
    padding: 1.5% 3% 3% 3%;
}

.latest_mail.col-sm-6 {
    height: 340px;
    background-color: #CCD7D8;
    padding: 3%;
}

section.all .container {
    padding: 0;
}

section.rows .row:nth-child(odd) {
    background-color: #F2F1EE;;
}

section.gift_rows .row div:nth-child(2n+1) {
    background-color: #CCD7D8;
}

.gift_section.col-sm-3 {
    padding: 2% 3% 2% 3%;
}

.mail_first_line{
border-bottom: 2px solid black;
}

.row.mail_first_line {
    width: 100%;
    margin: auto;
}

.container.black_section_title{
    background-color: black;
    color:white;
}

.image_block_title_text p{
    width: 95%;
}

.menu-my-pages .col-xs-4 {
    padding: 0;
}

@media screen and (min-width: 800px) {
.menu-my-pages li {
    padding: 5px;
}
}
.menu-my-pages li {
    border: 1px solid #ddd;
}

.container.image_block_title_section .col-md-4 {
    padding: 0;
}

.container.black_section_title h4 {
    text-align: center;
}

.col-md-4.col-sm-4.col-xs-12 {
    padding: 0;
}

.navbar.navbar-default.navbar-static-top {
    position: relative !important;
}

.show_all a {
    text-decoration: underline !important;
    font-weight: bold;
    font-size: 16px;
}


@media screen and (min-width: 767px){
.menu.menu-my-pages {
    display: none;
    padding: 0px 20px 0px 20px;
}

.navbar.navbar-light {
    display: none;
}
}

@media screen and (max-width: 767px){

.menu.menu-my-pages {
     padding: 0px 30px 0px 30px;
}

#wrapwrap {
    margin-top: 0px !important;
}

.menu.menu-my-pages li{
    border-bottom:none;
    border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom: none;
    padding: 1.5%;
 }

.menu.menu-my-pages li:last-child {
    border-bottom: 1px solid #ddd;
}
.menu.menu-my-pages a {
    font-family: futura-pt-medium, sans-serif !important;
    font-size: 16px !important;
    font-weight: normal !important;
}

.menu.menu-my-pages .dropdown-submenu a::after{
    margin-top: 7px;
}
}
.left_menu li{
    padding: 8px 15px;
    border-bottom:none;
    border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom: none;
 }

 .left_menu{
    margin-top: 35px;
 }

 .left_menu li:active{
    background-color:black;
    color:white;
 }

 .left_menu .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 0;
    margin-top: 0px;
    box-shadow: none;
    border: none;
}

.left_menu .dropdown-menu {
    max-width:205px;
    box-shadow:none;
    margin-top:10px;
}
 .left_menu li:last-child {
    border-bottom: 1px solid #ddd;
}

 .left_menu a{
    font-family: futura-pt-medium, sans-serif !important;
    font-size: 16px !important;
    padding: 0px;
    padding-left: 0px;
 }

 .dropdown-submenu > a::after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: 
    transparent;
    border-left-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top: 5px;
    margin-right: 10px;
}

ul.mega_menu_children {
    padding: 0;
    margin: 0;
}

.mega_menu_children li {
   border-top:none;
   padding: 5px 30px;
}
.mega_menu_children a{
   font-weight: thin !important;

}

.mail_lists_lines .col-sm-2{
    padding: 0;
    max-width: 80px;
}

.mail_lists_lines .col-sm-2{
    padding: 0;
    max-width: 80px;

}

div.row.mail_lists_lines:nth-child(2n+1) {
    background-color: #F2F1EE;
}

.row.mail_lists_lines {
    padding: 5px;
}

.mega_menu_children li{
    font-family: futura-pt-light, sans-serif !important;
}

.breadcrumb.dn_breadcrumb {
    margin-top: 0px !important;
}

.my_subscribers {
    border-top: 1px solid #f3f3f3;
    margin-top: 40px;
    margin-bottom: 40px;
}

.my_subscribers .row {
    padding-top: 10px;
}

#submit_btn_subscribers {
    float: right;
    margin: 10px;
    margin-top: 10px;
}

/*input[type=checkbox] {
    transform: scale(1.5);
}*/

.order_table th{
    background-color: white !important;
}

.order_table .table thead tr th {
    vertical-align: bottom;
    border-bottom: none; 
}


.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.my_subscribers_borders {
    border-top: 1px solid #f3f3f3;
}

.employee_row{
    border-top: 1px solid #f3f3f3;
    padding-top: 10px;
}

.left_menu {
    min-height: 700px;
}

.left_menu li.active {
    background-color:black;
}

.left_menu .active a{
    color:white;
}

.left_menu li.not_active{
    background-color: white;
}

.left_menu p{
    font-family: futura-pt-medium, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 15px 10px 10px 20px;
    color:black;
    border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom: none;
}