.oe_dn {
    background-color: #CC6C45;
    color: white;
}

#issue_info {
    padding: 0px 15px !important;
}

#oe_issue_info {
    position: relative;
}

#oe_issue_stage {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    background-color: #000;
    color: #fff;
}

#oe_issue_stage h5 {
    margin: 0px;
}

#timeline {
    width: 95%;
    height: 15px;
    border-bottom: 1px solid #aaa;
    text-align: center;
    margin: auto;
}

#timeline span{
    font-size: 20px;
    padding: 0 20px;
    background-color: #fff;
}

.message_body {
    padding: 10px 0px;
}

.msg_avatar {
    padding: 0px;
}

.msg_avatar img {
    margin: auto;
    display: block;
    width: 40px;
    border-radius: 20px;
    margin-top: 5px;
}

@media (max-width: 700px) {
    .msg_avatar img {
        width: 20px;
        border-radius: 10px;
    }
    #issue_info {
        padding: 0px !important;
    }
}
