#claims_div {
    padding: 15px 0px;
}

.claim_div {
    background-color: #eee;
    padding: 15px;
    margin: 10px 0px;
}

.claim_detail {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

.claim_state {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 10px;
    background-color: #fff;
}


@media (max-width: 768px) {
    #claim_div {
        padding: 15px 0px;
    }
}
